doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, inital-scale=1")
        block title
        link(href='https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css' type='text/css' rel='stylesheet')
    body
        block content
        include ../includes/script